*{
    font-family: Arial;
}

/* Line sony */

.sony{
    background-color: #000;
    width: 100%;
}

.sony img{
    width: 100px;
}

/* Navbar */

.navbar{
    font-family: Helvetica;
    font-weight: bold;
}

.navbar .nav-item img{
    width: 10px;
}

.search .navbar-nav .nav-item a{
    color: #000;
}

.navbar-nav .lens img{
    width: 25px;
}

/* Hero */

.hero{
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.hero-content{
    width: 500px;
}

.hero-content img{
    width: 250px;
}

.hero-content button{
    background-color: #cd3d0f;
    color: #fff;
    border: 0;
}

.hero-content button:hover{
    background-color: #ca5027;
    color: #fff;
}

/* Hero slider */

.hero-slider .image-slide img{
    width: 200px;
    border-radius: 15px;
}

.image-slide img:hover{
    border: 3px solid #4799db;
    border-radius: 20px;
    padding: 3px 3px;
}