*{
    font-family: Arial;
}

/* Line sony */

.sony{
    background-color: #000;
    width: 100%;
}

.sony img{
    width: 100px;
}

/* Navbar */

.navbar{
    font-family: Helvetica;
    font-weight: bold;
}

.navbar .nav-item img{
    width: 10px;
}

.search .navbar-nav .nav-item a{
    color: #000;
}

.navbar-nav .lens img{
    width: 25px;
}

/* Hero */

.hero{
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.hero-content{
    width: 500px;
}

.hero-content img{
    width: 250px;
}

.hero-content button{
    background-color: #cd3d0f;
    color: #fff;
    border: 0;
}

.hero-content button:hover{
    background-color: #ca5027;
    color: #fff;
}

/* Hero slider */

.hero-slider .image-slide img{
    width: 170px;
    border-radius: 15px;
}

.image-slide img:hover{
    border: 3px solid #4799db;
    border-radius: 20px;
    padding: 3px 3px;
}

.text-center h3{
    font-weight: bold;
    font-size: 16px;
    color: #4296da;
}

.text-center h4{
    font-size: 35px;
}

.text-center p{
    font-weight: bold;
    color: #787878;
}

/* Hardware */

.hardware .img-hardware img{
    width: 100%;
}

.text-hardware p{
    font-size: 20px;
}

.text-hardware button{
    border-radius: 20px;
}

.slide-hardware p{
    text-align: center;
    font-size: 18px;
}

.slide-hardware img{
    width: 110px;
}

.opacity{
    opacity: 70%;
}

.border-b{
    border-bottom: 2px solid #0e7ad1;
}