*{
    font-family: Arial;
}

/* Line sony */

.sony{
    background-color: #000;
    width: 100%;
}

.sony img{
    width: 100px;
}

/* Navbar */

.navbar{
    font-family: Helvetica;
    font-weight: bold;
}

.navbar .nav-item img{
    width: 10px;
}

.search .navbar-nav .nav-item a{
    color: #000;
}

.navbar-nav .lens img{
    width: 25px;
}

.nav-z{
    z-index: 1;
}

/* Hero */

.hero{
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.hero-content{
    width: 500px;
}

.hero-content img{
    width: 250px;
}

.hero-content button{
    background-color: #cd3d0f;
    color: #fff;
    border: 0;
}

.hero-content button:hover{
    background-color: #ca5027;
    color: #fff;
}

/* Hero slider */

.hero-slider .image-slide img{
    width: 170px;
    border-radius: 15px;
}

.image-slide img:hover{
    border: 3px solid #4799db;
    border-radius: 20px;
    padding: 3px 3px;
}

.text-center h3{
    font-weight: bold;
    font-size: 16px;
    color: #4296da;
}

.text-center h4{
    font-size: 35px;
}

.text-center p{
    font-weight: bold;
    color: #787878;
}

/* Hardware */

.hardware .img-hardware img{
    width: 100%;
}

.text-hardware p{
    font-size: 20px;
}

.text-hardware button{
    border-radius: 20px;
}

.slide-hardware p{
    text-align: center;
    font-size: 18px;
}

.slide-hardware img{
    width: 110px;
}

.opacity{
    opacity: 70%;
}

.border-b{
    border-bottom: 2px solid #0e7ad1;
}

/* It takes two */

.takes{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.takes-content{
    color: #fff;
}

.takes-content h3{
    font-size: 35px;
}

.takes-content p{
    font-size: 18px;
}

.takes-content img{
    width: 250px;
}

.takes-content button{
    background-color: #cd3d0f;
    color: #fff;
    border: 0;
}

.takes-content button:hover{
    background-color: #cd3d0f;
    color: #fff;
}

/* New games */

.new-games{
    background-color: #1f1f1f;
    color: #fff;
}

.title-games h3{
    font-size: 30px;
}

.title-games p{
    font-size: 20px;
}

.game img{
    width: 170px;
    border-radius: 20px;
}

/* Playstation 4 */

.title-ps4{
    text-align: center;
}

.title-ps4 p{
    color: #727272;
    font-size: 18px;
}

.products-ps4 img{
    width: 100%;
}

.products-ps4 p{
    color: #727272;
    font-size: 18px;
}

/* Playstation plus */

.play-plus{
    background-color: #bebcbb;
}

.plus-content img{
    width: 100%;
}

.plus-games img{
    width: 100%;
}

/* Playstation store */

.image-store img{
    width: 300px;
}

.title-store{
    text-align: center;
}

.title-store p{
    color: #727272;
    font-size: 18px;
}